/*configurableContrastChecker.jsx*/
.configurable-contrast-checker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
}
.inputs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;

  gap: 20px;
  margin-bottom: 20px;
}
.contrast-info-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.color-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-input-group .hex-input {
  width: 75%;
}
.Square-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.ratio-input {
  width: 50px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #000;
}
.controls-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
