.rgb-input,
.hsl-input,
.hsv-input,
.hex-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
input {
  text-align: center;
  border-radius: 5px;
  border: 4px inset black;
}
