.square-composition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.outer-square {
  border-width: 5px;
  border-style: solid;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
}
.inner-square {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 3;
}
.outer {
  width: 328px;
  height: 328px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.middle {
  width: 164px;
  height: 164px;
  position: absolute;
  z-index: 3;
}
.inner {
  width: 54px;
  height: 54px;
  position: absolute;
  z-index: 4;
}
.square-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
