.square-composition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.outer-square {
  border-width: 5px;
  border-style: solid;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
}
.inner-square {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.outer {
  width: 166px;
  height: 166px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.middle {
  width: 66px;
  height: 66px;
  position: absolute;
  margin-top: 20px;
  z-index: 3;
}
.inner {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: 20px;
  z-index: 4;
}
.square-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
