.mixer-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.color-mixer-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  width: 500px;
  align-items: center;
  border-radius: 5px;
  /* border: 1px solid #000; */
}
.mixed-color-display {
  font-size: 24px;

  text-align: center;
}
.mix-slider {
  -webkit-appearance: none;
  width: 250px;
  height: 10px;
  border-radius: 10px;
  background: #d3d3d3;
  border: 1px solid #000;
  outline: none;
  opacity: 0.3;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.mix-slider:hover {
  opacity: 1;
}
.mix-slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #000;
  background: #ffffff;
  cursor: pointer;
}
.squares-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mixer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
