header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-style: ridge;
  border-bottom-width: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.color-inputs {
  display: flex;
  flex-direction: row;
  margin: auto 100px;
  gap: 1rem;
}
h1 {
  padding: 5px;
  border-radius: 5px;
  border: 4px outset black;
  margin-bottom: 1rem;
  font-size: 2rem;
}
h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.color-triangles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.square-composition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.square-composition-container > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.square-composition-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  gap: 1rem;
}
