.composition-light-dark-container {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 400px;
  background-color: aliceblue;
}
.ratio-section {
  display: flex;
  flex-direction: column;
}
.color-container {
  flex: var(--ratio);
  background-color: var(--color);
}
